.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
}

.detail {
  font-size: 15px;
  width: 70%;
  text-align: justify;
  line-height: 2;
}